.display, .panel {
  width: 9em;
  text-align: center;
}
.display {
  margin: auto;
}
.display div {
  display: inline-block;
  margin: 0.2em;
}
.number {
  padding: 0.2em;
  width: 2em;
  text-align: right;
}
#up-indicator-lift-one.lit {
  color: green;
}
#down-indicator-lift-one.lit {
  color: red;
}

#up-indicator-lift-two.lit {
  color: green;
}
#down-indicator-lift-two.lit {
  color: red;
}

#up-indicator-lift-three.lit {
  color: green;
}
#down-indicator-lift-three  .lit {
  color: red;
}

.panel {
  margin: auto;
}
.panel button {
  display: block;
  margin: auto;
  width: 3em;
}
.panel button.lit {
  background-color: red;
  color: white;
}
